# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
/[Bb]uilds/
/[Ll]ibrary/
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
Corridor/Library/ShaderCache/
Corridor/Library/metadata/
TextMesh Pro/
TextMesh Pro.meta
TextMesh Pro/Fonts.meta
TextMesh Pro/Fonts/LiberationSans - OFL.txt.meta
TextMesh Pro/Fonts/LiberationSans.ttf.meta
TextMesh Pro/Resources.meta
TextMesh Pro/Resources/Fonts & Materials.meta
TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Drop Shadow.mat.meta
TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Fallback.asset.meta
TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF - Outline.mat.meta
TextMesh Pro/Resources/Fonts & Materials/LiberationSans SDF.asset.meta
TextMesh Pro/Resources/LineBreaking Following Characters.txt.meta
TextMesh Pro/Resources/LineBreaking Leading Characters.txt.meta
TextMesh Pro/Resources/Shaders.meta
TextMesh Pro/Resources/Shaders/TMP_Bitmap-Custom-Atlas.shader.meta
TextMesh Pro/Resources/Shaders/TMP_Bitmap-Mobile.shader.meta
TextMesh Pro/Resources/Shaders/TMP_Bitmap.shader.meta
TextMesh Pro/Resources/Shaders/TMP_SDF Overlay.shader.meta
TextMesh Pro/Resources/Shaders/TMP_SDF-Mobile Masking.shader.meta
TextMesh Pro/Resources/Shaders/TMP_SDF-Mobile Overlay.shader.meta
TextMesh Pro/Resources/Shaders/TMP_SDF-Mobile.shader.meta
TextMesh Pro/Resources/Shaders/TMP_SDF-Surface-Mobile.shader.meta
TextMesh Pro/Resources/Shaders/TMP_SDF-Surface.shader.meta
TextMesh Pro/Resources/Shaders/TMP_SDF.shader.meta
TextMesh Pro/Resources/Shaders/TMP_Sprite.shader.meta
TextMesh Pro/Resources/Shaders/TMPro.cginc.meta
TextMesh Pro/Resources/Shaders/TMPro_Properties.cginc.meta
TextMesh Pro/Resources/Shaders/TMPro_Surface.cginc.meta
TextMesh Pro/Resources/Sprite Assets.meta
TextMesh Pro/Resources/Sprite Assets/EmojiOne.asset.meta
TextMesh Pro/Resources/Style Sheets.meta
TextMesh Pro/Resources/Style Sheets/Default Style Sheet.asset.meta
TextMesh Pro/Resources/TMP Settings.asset.meta
TextMesh Pro/Sprites.meta
TextMesh Pro/Sprites/EmojiOne Attribution.txt.meta
TextMesh Pro/Sprites/EmojiOne.json.meta
TextMesh Pro/Sprites/EmojiOne.png.meta
